/* Tomado con ligeras modificaciones de selectoul */
body { color:#333; font-family:Arial,sans-serif; font-size:12px; background: #FFFFFF url(../img/logomozillavenezuela.jpg);} 

/*quick reset*/
form,fieldset,ul,p {margin:0; padding:0;  list-style-type:none;}
fieldset { border:0;}

/* ================== */
/* = fancy dropdown = */
/* ================== */
.convertToUl {display:none;}
.fancyDrpDwn {float:left; position:relative; margin-right:10px;}
.selectedFromList {display:block; float:left;  height:26px; background:url(../img/right_fancy_drp_bg.png) no-repeat right 0; cursor:pointer;}
.selectedFromList b {display:block; float:left;  height:20px; background:url(../img/left_fancy_drp_bg.png) no-repeat 0 0; padding:6px 27px 0 10px; cursor:pointer;}

.selectedFromList:hover {display:block; float:left;  height:26px; background:url(../img/right_fancy_drp_h_bg.png) no-repeat right 0; cursor:pointer;}


.exSelect {position:absolute;  border: solid 1px #dedede; text-align:left; margin:0; padding:0; top:25px; left:1px; display:none; z-index:10;}
.exSelect li{ width:100px; border-bottom: solid 1px #dedede; background:#fff;padding:6px 10px 5px 10px; cursor:pointer; color:#000;}
.exSelect li:hover{ background:#f5f5f5;}

/* Propias del proyecto  */
.titulo {
  color: #FF6600;
  font-size: 22px;
  text-shadow: 2px 2px 2px #000000;
  margin: 0px auto 5px;
}
.twitter {
  font-size: 14px;
  clear: left;
  text-shadow: 1px 1px 1px #000000;
  text-decoration: none;
  color: #FF6600
}  
.error_telefono, .error_mensaje, .error_captcha {
  color: red;
  display: none;
  clear: left;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #FFFFFF;
}
.mensaje_caracteres {
  font-size: 13px;
  clear: left;
  padding-top: 5px;
}
#telefono {
  width: 107px;
}
#mensaje {
  resize: none;
}
.boton {
  margin: 10px auto 5px;
}
.derecha {
  float: right;
}
#formulario_captcha, .resultado {
  display: none;
}
#formulario_captcha {
  margin-top: 40px;
}
#captcha_respuesta {
  width: 180px;
}
.boton input {
  background-color: #447821;
  border-radius: 5px;
  color: #FFFFFF;
  border: 1px solid transparent;
}
.boton input:hover {
  background-color: #00ff00;
}
.en_espera {
  display: none;
  margin-top: 85px;
}
.finalizar {
  width:57px;
  margin:0px auto;
}
.respuesta {
  margin: 60px auto 30px auto;
  text-align: center;
  font-size: 14px;
  color: #FF6600;
  font-weight: bold;
  text-shadow: 2px 1px 2px #FFFFFF;
}